
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3> @ViewBag.Message</h3>
    <ul>
        <li>Victor Ramos</li>
        <li>Gisell Arango</li>
        <li>Alan Rhenals</li>
        <li>Dayana Rodriguez</li>
    </ul>
</div>


