
@{
    ViewBag.Title = "Bisection Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var result = (string)Session["resultBisection"];
    var i = 0;
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Table</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>n</th>
                        <th>Xi</th>
                        <th>F(Xi)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MNproject.Models.Classes.Table d in (List<MNproject.Models.Classes.Table>)Session["tableBisection"])
                    {
                        <tr>
                            <td>@i</td>
                            <td>@d.x</td>
                            <td>@d.fx</td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h4>R/ @result</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Graph</h4>
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>



