@{
    ViewBag.Title = "Página principal";
}


<div class="jumbotron">
    <h1>PROYECTO MÉTODOS NUMÉRICOS</h1>
    <!--aqui coloca una pequeña intro -->
    <p class="lead">¿Qué permite a hacer esta aplicacin?</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Metodo de biseccion</h2>
        <p>
            <!--aqui coloca una pequeña definicion del metodo de biseccion -->
        </p>
        <p><a class="btn btn-default" href="#">Más informacion aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Metodo Simpson 1/3 </h2>
        <!--aqui coloca una pequeña definicion del metodo de simpson -->
        <p><a class="btn btn-default" href="#">Más informacion aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Metodo de derivacion</h2>
        <!--aqui coloca una pequeña definicion del metodo de derivacion -->
        <p><a class="btn btn-default" href="#">Más informacion aqui &raquo;</a></p>
    </div>
</div>