@{
    ViewBag.Title = "Página principal";
}


<div class="jumbotron">
    <h1>PROYECTO MÉTODOS NUMÉRICOS</h1>
    <p class="lead">Demostrar los métodos de derivación <i>(Proximamente)</i>, integración, bisección, graficar y evaular una funcion F(x)</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Metodo de biseccion</h2>
        <p>
            Es uno de los métodos más antiguos y consiste en buscar una raíz real, cuando ya se tenga se tiene que ir reduciendo los intervalos hasta ponerlo pequeño cuanto nos apetezca, funciona como un algoritmo de tal forma que el diagrama de flujo se le conoce como algoritmo de cierre.<br />
        </p>
        <p><a class="btn btn-default" href="#">Más informacion aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Metodo Simpson 1/3 </h2>
        <p>Este método es usado cuando la integral no es posible de calcular por análisis o métodos analíticos, la ventaja de este método es poder llegar a la obtención de varias fórmulas aproximadas para la respectiva solución de la integral</p><br />
        <p><a class="btn btn-default" href="#">Más informacion aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Metodo de derivacion</h2>
        <!--aqui coloca una pequeña definicion del metodo de derivacion -->
        <p><a class="btn btn-default" href="#">Más informacion aqui &raquo;</a></p>
    </div>
</div>