 
@{
    ViewBag.Title = "Integration Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <form method="post">
            <!--Important to do very well!-->
            <div class="col-md-3">
                <div class="form-group">
                    <label for="fxi">Fxi</label>
                    <input type="text" class="form-control" id="fxi" placeholder="sin(x)*e^3x">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="a">Limite inferior a</label>
                    <input type="text" class="form-control" id="a" placeholder="0">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="b">Limite superior b</label>
                    <input type="text" class="form-control" id="b" placeholder="2">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="n">Numero de iteraciones n</label>
                    <input type="text" class="form-control" id="n" placeholder="2">
                </div>
            </div>
            <button type="submit" onclick="simpsonResult()" class="btn btn-default">Submit</button>
        </form>
    </div>   
</div>
